
.moveToLeft1{
    animation: moveToLeft1 200ms ease-in-out 0s 1 normal forwards
}
.moveToRight1{
    animation: moveToRight1 200ms ease-in-out 0s 1 normal forwards
}
.moveToLeft2{
    animation: moveToLeft2 200ms ease-in-out 0s 1 normal forwards
}
@keyframes moveToLeft1 {
    0% {transform: translateX(0px); position: absolute; width: 200%;}
    50% {opacity: 50;}
    99% {position: absolute;}
    100% {transform: translateX(-100px); position: relative; display: none; width: 100%;}
}
@keyframes moveToLeft2 {
    0% {transform: translateX(100px); position: absolute; width: 200%;}
    99% {position: absolute;}
    100% {transform: translateX(0px); position: relative; width: 100%;}
}
@keyframes moveToRight1 {
    0% {transform: translateX(-100px); position: absolute; width: 200%;}
    99% {position: absolute;}
    100% {transform: translateX(0px); position: relative; width: 100%;}
}